@import "../../style.scss";

.searchs{
  @include themify($themes) {
  background-color: themed("bgSoft");
height: 100vh;
margin-top: -15px;
padding: 20px;


    .search-box{        
          margin-top: 40px;        
          display: flex;
          align-items: center;
          gap: 20px;
          width: 53%;
          border: 1px solid themed("textColor");
          background-color: themed("bgSoft");
          border-radius: 5px;
          padding: 10px;
          position: fixed;
          top: 8%;                          
          .icon{
            color: themed("textColor");
          }

          input {
            border: none;
            width: 500px;
            background-color: transparent;
            padding: 15px;
            color: themed("textColor");
      
            @include mobile{
              display: none;
            }      
            @include tablet{
              width: 200px;
            }
          }
          input:focus{
              outline: none;
            }
        }
      
      .search-users{
        margin-top: 100px;
        display: flex;        
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        
        
        

       .suser{
         display: flex;
         cursor: pointer;
         gap: 40px;         
         width: 95%;         
         padding: 10px;
         border-radius: 10px;

         .suserInfo{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;          
          .personicon{
            color: themed("textColor")
          }
          span{
            color: themed("textColor");
            font-size: 20px;
          }
          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          
         }

        
       }
       .suser:hover{
        background-color: themed("textColor");                
       }
       .suser:hover span{
        color:themed("bgSoft");
       }
       .item:hover{
        background-color: greenyellow;
        transition: 0.5s;
        transform: scale(1.1);        
       }
       .item:hover .suserInfo span{
        color: black;
        font-size: 20px;
        font-weight: 500;
       }
        
      }
    }   
}
