@import "../../style.scss";

.rightbar {
  @include themify($themes) {
    flex: 2.5;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile{
      display: none;
    }    
    &::-webkit-scrollbar {
    display: none;
    }

    .container {
      padding: 20px;

      .item {
        border-radius: 10px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
        padding: 15px;
        margin-bottom: 20px;
        background-color: themed("bg");

        span {
          color: gray;
        }
        p{
         color: themed("textColor");
         margin-top: 10px;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            
            .personicon{
                color: themed("textColor");
            }
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }

            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 30px;
            }

            p {
              color: themed("textColorSoft");
            }

            span {
              font-weight: 500;
              color: themed("textColor");
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              border-radius: 5px;
              cursor: pointer;

              &:first-child {
                background-color: #5271ff;
              }
              &:first-child:hover {
                background-color: transparent;
                color: #5271ff;
                border: 2px solid #5271ff;
                transform: scale(1.1);
                transition: 0.6s;
              }              
            }
            
          }
        }
      }
    }
  }
}
